NEXT_PUBLIC_SUPABASE_URL=https://jygtcriegzsuopratssj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ZpKdHI2pNLBnFRuxJ-PpTw_-3_Yxdwd
OPENROUTER_API_KEY=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
OPENROUTER_MODEL=openai/gpt-4o-mini
GROQ_API_KEY=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


